.footer {
    background-color: var(--main-bg-color);
    color: var(--font-secondary);

    /* margin-top: 2rem; */
    /* position: absolute; */
    width: 100%;
    height: max-content;
}


.footer ul {
    height: max-content;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer ul li {
    height: max-content;
    padding: 1rem;
}

.footer ul li.name {
    font-weight: bold;
    margin-right: 4rem;
}

.socials {
    margin-left: 4rem;
    font-size: 1.5rem;
    display: flex;
}

.footer ul li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 835px) {
    .footer ul {
        flex-direction: column;
    }

    .footer ul li.name {
        margin: 0 auto;
    }

    .socials {
        margin: 0 auto;
    }
}