.navbar {
    padding: 0;
    margin: 0;
    background: var(--main-bg-color);
    color: var(--font-secondary);
    font-weight: bold;

    display: flex;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    color: inherit;

    padding: 0;
    margin: 0 auto;
}

.navbar ul li {
    display: flex;
    align-items: center;

    position: relative;
    margin: 0 .5rem;
}

.navbar ul.links li:hover {
    /* background-color: rgba(255,255,255,.2); */
    text-decoration: underline;
}

.navbar ul li::after {
    content: '';

    position: absolute;
    right: 0;
    transform: translateX(150%);

    width: 8px;
    height: 8px;
    background-color: currentColor;
    filter: opacity(.8);
    border-radius: 10px;
}

/* removes the dot to the right of the last link */
.navbar ul li:last-of-type::after {
    display: none;
}

.navbar ul li a {
    height: 100%;
    padding: 0 .5rem;
    min-height: 53px;
    text-transform: uppercase;
    display: grid;
    place-items: center;
}

.navbar svg {
    font-size: 1.5rem;
}

.navbar img {
    /* COMMENT OR UNCOMMENT THIS OUT TO SWITCH BETWEEN BLACK LOGO AND WHITE LOGO */
    filter: invert(1);
    padding: .5rem 2rem !important;
    min-width: 150px !important;
}

.navbar .menuBtn {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        justify-content: start;
        flex-wrap: nowrap;
        width: 100%;

        overflow: hidden;
    }

    .navbar ul li::after {
        display: none;
    }

    .navbar ul li {
        margin: 0;
    }

    .navbar ul li a:not(.logoLink) {
        margin: 0;
        width: 100%;
    }

    .navbar ul li.logo {
        /* margin-right: auto; */
        display: flex;
        justify-content: space-between;
    }

    .navbar img {
        padding: 0 2rem 0 0 !important;
        margin: 0;
        margin-right: auto;
    }

    .navbar ul .socials {
        margin-inline: auto;
    }

    .navbar ul li .socialIcon {
        width: max-content !important;
    }

    .navbar .menuBtn {
        display: block;
        visibility: visible;
        font-size: 2rem;
        cursor: pointer;
        margin: 0 2rem;
    }

    .links {
        transition: height 500ms ease;
        /* 5 is the number of elements in the navbar */
        height: calc(53px * 5);
        /* background-color: red; */
    }

    .links li {
        opacity: 1;
        transition: opacity 150ms linear;
    }

    .navbar .links.closed {
        height: 0;
    }

    .navbar .links.closed li {
        opacity: 0;
    }
}