.infoBanner {
    background-color: var(--main-bg-color);
    color: var(--font-secondary);
    font-weight: bold;
    padding: 2rem;
    display: block;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    transition: background-color 250ms linear;
    cursor: pointer;
}

/* .infoBanner:hover {
    background-color: #181818;
} */

.infoBanner h1 {
    margin: 0;
    text-align: center;
}

.infoBanner p {
    margin: 0 auto;
    width: 90%;
    max-width: 850px;
}